<div class="container-fluid">
    <div class="d-flex flex-column">
        <h5>Filtros disponibles:</h5>
        <h6>Busqueda por usuario</h6>
        <form [formGroup]="profileForm" (ngSubmit)="filtrar()">
            <div class="d-flex flex-row">
            <input id="edad" formControlName="edad"type="text" placeholder="Edad" class="form-control">
            <input id="altura" formControlName="altura" type="text" placeholder="Altura" class="form-control">
            <input id="peso" formControlName="peso" type="text" placeholder="Peso" class="form-control" aria-placeholder="">
            <select id="genero" formControlName="genero" class="form-control">
                <option value="" disabled selected hidden>Genero</option>
                <option *ngFor="let gen of genero" [value]="gen">{{gen}}</option>
            </select>
            <select id="estadoCivil" formControlName="estadoCivil" class="form-control">
                <option value="" disabled selected hidden>Estado Civil</option>
                <option *ngFor="let estado of estadoCivil" [value]="estado">{{estado}}</option>
            </select>           
            <select id="estadoLaboral" formControlName="estadoLaboral" class="form-control">
                <option value="" disabled selected hidden>Estado Laboral</option>
                <option *ngFor="let estado of estadoLaboral" [value]="estado">{{estado}}</option>
            </select>
            
            <select id="estudios" formControlName="estudios" class="form-control">
                <option  value="" disabled selected hidden>Estudios</option>
                <option *ngFor="let estudio of estudios" [value]="estudio">{{estudio}}</option>
            </select>
            <button type="submit">Filtrar</button>
        </div>
    </form>
        <div class="d-flex border-1 m-2">
            <h6>Busqueda por preguntas</h6>
            <select>
                <option *ngFor="let formulario of formularios$ |async" [value]="formulario.id">{{formulario.type}}</option>
            </select>
            <select>
                <option>Pregunta1</option>
                <option>Pregunta2</option>
            </select>
            <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
            </select>
        </div>
        
    </div>
    <table class="table table-dark table-striped">
        <thead id="th">
    
        </thead>
        <tbody id="tb">
    
        </tbody>
    </table>
</div>

