<div class="container-fluid">
    <div class="d-flex flex-column">
        <h5>Filtros disponibles:</h5>
        <div>
            <h6>Busqueda por usuario</h6>
            <input type="text" placeholder="Usuario">
        </div>
        <div class="d-flex border-1 m-2">
            <h6>Busqueda por preguntas</h6>
            <select>
                <option *ngFor="let formulario of formularios$ |async" [value]="formulario.id">{{formulario.type}}</option>
            </select>
            <select>
                <option>Pregunta1</option>
                <option>Pregunta2</option>
            </select>
            <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
            </select>
        </div>
        
    </div>
    <table class="table table-dark table-striped">
        <thead id="th">
    
        </thead>
        <tbody id="tb">
    
        </tbody>
    </table>
</div>

